@media (min-width: 1080px) {
  .menu__points {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    margin-bottom: 4%;
    padding: 1% 0 1.5% 0;
    overflow-x: auto;
    z-index: 2;
    .point:hover {
      background-color: var(--text-color-main);
      color: #fff;
    }
    .point {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color-main);
      border-bottom: 2px solid var(--points-color);
      font-size: 20px;
      font-weight: bold;
      box-shadow: none;
      margin: 0 5px;
      cursor: pointer;
      p {
        padding: 12px 24px;
        text-align: center;
        font-size: 22;
        font-weight: bold;
      }
    }
  }

  .menu__points::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 576px) {
  .menu__points {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--bg-color);
    margin-bottom: 4%;
    padding: 2%;
    overflow-x: auto;
    z-index: 2;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color-main);
      border: 2px solid var(--points-color);
      font-size: 20px;
      font-weight: bold;
      box-shadow: none;
      margin: 0 5px;
      border-radius: 25px;
      p {
        padding: 12px 24px;
        text-align: center;
        font-size: 22;
        font-weight: bold;
      }
    }
  }

  .menu__points::-webkit-scrollbar {
    width: 0;
  }
}
